# ==============================================================================
# CONFIGURATION TEMPLATE
# ==============================================================================
# Petunjuk: Salin file ini menjadi '.env' (cp .env.example .env)
# lalu sesuaikan nilainya dengan kebutuhan environment Anda.
# ==============================================================================

# Contoh username mqtt admin
# sudo mosquitto_passwd -c /etc/mosquitto/passwd admin
MQTT_USER="admin"
MQTT_PASS="1234567890"

# Contoh API KEY
# docker exec openwa-api cat /app/data/.api-key
OPENWA_API_KEY="your-api-key"

# Contoh Session ID pada OpenWA
OPENWA_SESSION_ID="your-session-id"

# NO TELEPON WHATSAPP
WHATSAPP_TARGET="6208123456789@c.us"
